#section-a{
	grid-column: 1/-1;
	grid-row: 4/8;
}
#section-b{
	grid-column: 1/-1;
	grid-row: 9/11;
}
article{
	grid-column: 5/10;
	grid-row: 1/9;
	background-color: white;

}
#category_heading{
	font-family: fantasy;
	font-size: 2em;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 5px ridge gray;
	padding-bottom: 10px;
}
.item{
	grid-column: 1/-1;
	margin-left: 30px;
	font-family: sans-serif;
	font-size: 1.4em;
	line-height: 1.4em;
	list-style-type: none;
}
#no_items{
	text-align: center;
	color: red;
}