{% extends "main_layout.html" %}
{% block head %}
	<link href="{{url_for('static', filename = 'main_layout.css')}}" rel = "stylesheet" type="text/css">
	<link href="{{url_for('static', filename = 'create_category.css')}}" rel = "stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
{% endblock %}
{%block username%}{{login_session['username']}}{% endblock %}
{% block image %}{{login_session['picture']}}{% endblock %}
{% block main %}
<h2 id="heading">Create New Category</h2>
<article>
	<form method = "POST" action = "{{url_for('create_category', user_id = user.id_)}}">
		<fieldset>
			<legend>New Category</legend>
			<label class = "grid">
				<input type = "text" placeholder = "Enter Category Name" name="category_name" required="required" id="name">
				<input type="submit" name="submit" id="submit" value="Create">
			</label>	
		</fieldset>
	</form>
</article>	
{%endblock%}
{% block link1 %}
<a href = "{{url_for('index')}}" id="back_to_home">Back TO Home</a>
{% endblock %}