{% extends "main_layout.html" %}
{% block head %}
	<link href="{{url_for('static', filename = 'main_layout.css')}}" rel = "stylesheet" type="text/css">
	<link href="{{url_for('static', filename = 'delete_offer.css')}}" rel = "stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
{% endblock %}
{%block username%}{{login_session['username']}}{% endblock %}
{% block image %}{{login_session['picture']}}{% endblock %}
{% block main %}
<article>
	{% if offers %}
	<form method = "POST">
		<fieldset>
			<legend>Select Offers</legend>
			<select id="option" name="option">
				{% for offer in offers %}
				<option value={{offer.id_}}>{{offer.name}}</option>
				{% endfor %}
			</select>
			<input class="submt" type="submit" name="delete" value="Delete">
			<input class="submt" type="submit" name="delete" value="Cancel">
		</fieldset>
	</form>
	{% else %}
	<h2 id="sorry_msg">sorry!! no offers available </h2>
	{% endif %}
</article>	
{%endblock%}
{% block link1 %}
<a href = "{{url_for('index')}}" id="back_to_home">Back TO Home</a>
{% endblock %}