{% extends "main_layout.html" %}
{% block head %}
	<link href="{{url_for('static', filename = 'main_layout.css')}}" rel = "stylesheet" type="text/css">
	<link href="{{url_for('static', filename = 'delete_category.css')}}" rel = "stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
{% endblock %}
{%block username%}{{login_session['username']}}{% endblock %}
{% block image %}{{login_session['picture']}}{% endblock %}
{% block main %}
<article>
	<h2 id="warning">Warning!!</h2>
	<h3>Do you really want to delete??</h3>
	<form method = "POST" 
		  action = "{{url_for('delete_users_items', user_id = user.id_, category_id = category.id_, item_id = item.id_)}}">
		<input type="submit" name="delete" value="yes">
		<input type="submit" name="delete" value="no">
	</form>
</article>	
{%endblock%}
