{% extends "main_layout.html" %}
{% block head %}
	<link href="{{url_for('static', filename = 'main_layout.css')}}" rel = "stylesheet" type="text/css">
	<link href="{{url_for('static', filename = 'offer.css')}}" rel = "stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
{% endblock %}
{%block username%}{{login_session['username']}}{% endblock %}
{% block image %}{{login_session['picture']}}{% endblock %}
{% block main %}
<article id="offer-article" class="grid">
<h2 id="offer">Offers</h2>
<ul id="offer_list">
	{% if offers|length %}
	{% for offer in offers %}
	<li id="{{offer.name}}"><a href="{{url_for('show_offer_details', offer_id = offer.id_)}}">{{offer.name}}</a></li>	
	{% endfor %}
	{%else%}
	<h2 id="no_offer">Sorry No Offers!!</h2>
	{%endif%}
</ul>	
{% endblock%}
</article>
{% block link1 %}
<a href = "{{url_for('index')}}" id="back_to_home">Back TO Home</a>
{% endblock %}