{% extends "layout.html" %}
{% block head %}
	<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
	<link href="{{url_for('static', filename = 'main.css')}}" rel = "stylesheet" type="text/css">
	<link href="{{url_for('static', filename = 'public_category.css')}}" rel = "stylesheet" type="text/css">
{% endblock %}
{% block login_logout_link %}
<a href="/catalog/login/" id="login_link">Login</a>
{%  endblock %}
{% block main %}
<article id="category_article">
<h2 id="category_heading"><a href="{{url_for('show_category')}}">Categories</a></h2>
<ul id="category_list">
	{% for category in categories %}
	<a href="{{url_for('show_category_item', category_id = category.id_)}}"><li class= "items">{{category.name}}</a></li>
	{% endfor %}
</ul>
</article>
{% endblock%}
